* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
 background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 360px;
}

.login-card {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 360px;
  text-align: center;
}

.branding {
  margin-bottom: 20px;
}

.logo {
  width: 60px;
  margin-bottom: 10px;
}

.tagline {
  font-size: 14px;
  color: #777;
}

.login-form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: 0.3s;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #4a90e2;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.login-form button:hover {
  background-color: #357ab8;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.register-link a {
  color: #4a90e2;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
.FirstPage
{
  margin-top: auto;
  gap: 10px;
flex-direction: column;
display :flex;
justify-content: center;
}
.t3
{
  width: 50px;
}



